@import url('https://fonts.googleapis.com/css?family=Anton');

html {
  background-color: #1b1c1d;
  color: white;
}

a {
  color: #fff;
}

header {
  margin: 25px 0;
}

.logo {
  font-size: 60px;
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  color: #FC4241;
}

.logo:hover {
  text-decoration: none;
}

.app-container {
  width: 1000px;
  margin: 0 auto;
}

.app-content {
  /*this helps displace content when displaying loading spinner*/
  min-height: 500px
}

.movie-posters {
  overflow: visible;
  clear: both;
  margin: 0;
  padding: 0;
}

.movie-posters li {
  float: left;
  list-style: none;
  padding-left: 0;
  width: 25%;
  transition: all .3s ease-in-out;
  opacity: 0.5;
  z-index: 0;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.movie-posters li:hover {
  transform: scale(1.1);
  opacity: 1.0;
  z-index: 100;
  cursor: pointer;
}

.movie-posters li img {
  max-width: 100%;
}

footer {
  clear: both;
  text-align: center;
  color: #666;
  padding: 50px;
}

footer a {
  color: #666;
  text-decoration: none;
}

footer a:hover {
  color: #777;
  text-decoration: underline;
  cursor: pointer;
}

